<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projeto rotulador</title>
</head>
<body>

    <h1>500<h1>
    <h2>Erro interno no servidor</h2>
    <p>Um erro ocorreu e sua requisição não pôde ser completada.Tente novamente.</p>

</body>
</html>