<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projeto rotulador</title>
</head>
<body>

    <h1>404<h1>
    <h2>Página não encontrada</h2>
    <p>O endereço não existe</p>

</body>
</html>